
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="Mutukula_shivaKumar.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
	<title>Guestbook</title>
	<link rel="icon" type="image/jpeg" href="profile.jpg">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
    bootstrap.min.css">
</head>
<body class="container">
        <div class="row">
				<ul>
					<div class="col-md-3">
						<li> Shiva</a></li>
					</div>		
					<div class="col-md-2">
						<li><a href="about" >Home</a></li>
					</div>
					<div class="col-md-3">
						<li><a href="loan_calc">Loan EMI calculator</a></li>
					</div>
					<div class="col-md-2">
						<li><a href="contacts">Contacts</a></li>
					</div>
					<div class="col-md-2">
						<li><a href="guestbook">Guestbook</a></li>
					</div>	
				</ul>
			</div>
<h1>
<strong>Shiva's Guestbook</strong>
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>









