body{
	background-color:  #e6e6ff;
	background-image : url("37ee1b0b8a80a8a7028e1586cee9ff5c.jpg");
	margin: 100px;
}
ul {
        
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    border: solid;
    font-size: 25px;
}

#side1{
    text-align: right;
}
#side2{
    text-align: left;
}
#form1{
    text-align: center;
    font-size: 25px;
}
.links{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color : blue;
    background-color:#ccccff;

}
h1{
    text-align: center;
    color: blue;
    text-decoration: underline;

}