body{
    background-color:  #e6e6ff;
	background-image : url("37ee1b0b8a80a8a7028e1586cee9ff5c.jpg");
	margin: 100px;
    }

ul {
        
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;		
        }
li{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    border: solid;
    font-size: 25px;
 }
 #form1{
    text-align: center;
    font-size: 25px;
    color : black;
    font-weight: bold;
    text-decoration: underline;
}
#side1{
    text-align: right;
    font-size: 25px;
    color: blue;
}
#side2{
    text-align: left;
    font-size: 25px;
    color: blue;
}
.boxSpecifications{
    background-color: #b3b3ff;
}
.links{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color : blue;
    background-color:#ccccff;

}
h1{
    text-align: center;
    color: blue;
    text-decoration: underline;

}

    