body{
	background-color:  #e6e6ff;
	background-image : url("37ee1b0b8a80a8a7028e1586cee9ff5c.jpg");
	margin: 100px;
	}
#headerbackground{
	color: #3333cc;
	}
#header1{
	text-align: center;
	color:#004f99; 
	text-decoration :underline;
	text-align : center;
	margin :auto;
	width : auto;
	height : 40px;
	}
ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;		
}
li{
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	border: solid;
	font-size: 25px;
}
.sideheading{
	font-size: 25px;
	font-weight: bold;
	color : #004f99;
	text-decoration: underline;
}
p.fontsize{
	font-size: 20px;
}
.img-circle{
	border-radius: 50px;
}
.header2{
	color: #800033;
	text-decoration: underline;
	}

.paragraph{
	font-family: "Times New Roman";
	font-size : 500px;
	}

.footerStyle{
	font-family : "Arial";
	color : #b366ff;
	text-shadow : 2px 2px #4700b3;
	font-style : italic;
	font-size: 30px;
	text-align: center;
	border:  solid 5px;
	margin-bottom: 20px;
	padding : 20px;
	}
#form1{
	text-align: center;
}
#nameid{
	color:#4700b3;
}
.links{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color : blue;
    background-color:#ccccff;

}
h1{
    text-align: center;
    color: blue;
    text-decoration: underline;

}